
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: century Schoolbook;
    text-align: center;
}

body>p {
    text-align: center;
    font-size: 30px;
}

header {
    width: 100%;
    box-sizing: border-box;
    padding: 0.9rem;
    display: flex;
    justify-content: center;
    background-color: rgb(7, 35, 112);
    color: whitesmoke;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('Untitled-1.png');
    height: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

main>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

main p {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

main button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0;
    outline: none;
    border-radius: 10px;
}

nav {
    margin: 0 auto;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 0.2rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    position: sticky;
}

nav ul {
    width: 70%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    gap: 2px;
}

li a {
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
}

li a:hover {
    border-bottom: 2px solid white;
}

nav .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 0;
}

.logo-container .logo-text {
    font-size: 20px;
    transform: scale(2);
    transform-origin: center;
    white-space: wrap;
    overflow: hidden;
}

nav .cart-and-search-div {
    width: 10%;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 1rem;
}

.cart-and-search-div img {
    width: 2rem;
    height: 2rem;
    margin: 0;
}

.featured-collection-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-evenly;
    gap: 1rem;
}

.product {
    width: 20%;
    height: 30rem;
    display: flex;
    flex-direction: column;
}

.product img {
    height: 40%;
}
